body{
    background-image: url("img/fondo1.jpg");
}
.item-1 {
    height:570px;
    width:1320px;
    border:10px solid #000;
    text-align:center;
    margin-left:30px;
    margin-top:30px;
    background-image: url("img/fondo3.jpg");
}
.item-1 h{
    font-size:60px;
    font-weight: bold;
    float:left;
    text-indent: 30px;
    font-family: 'Brush Script MT', cursive;
}
.item-2 {
    height:50px;
    width:850px;
    border:5px solid #000;
    margin:0px auto;
    margin-top:90px;
    float:left;
    padding: 200px;
    left:80px;
    position:absolute; 
    background-image: url("img/fondo2.jpg");
}
.item-2 h1{
    font-size:50px;
    font-weight: bold;
    float:left;
    color:white;
    position:absolute;
    text-indent: 5px;
    margin-top:-190px;
    margin-left:-190px;
    font-family: 'Brush Script MT', cursive;
    text-shadow: -4px 3px 0 #34d16e, -14px 7px 0 #0a0e27;
}
.item-2 h2{
    font-size:30px;
    font-weight: bold;
    float:left;
    color:black;
    position:absolute;
    text-indent: 5px;
    margin-top:-90px;
    margin-left:-90px;
    font-family: 'Brush Script MT', cursive;
    
}